<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Blogly- {% block title %}{% endblock title %}</title>
<meta name="description" content="A django powered blog"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

{% load static %}
<link rel="shortcut icon" href="#">
<link rel="stylesheet" type="text/css" href="{% static 'blog/assets/css/screen.css' %}"/>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic|Playfair+Display:400,700,400italic,700italic"/>
<!-- include summernote css/js-->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.js"></script>

</head>
<body class="home-template">
<div class="site-wrapper">
	<nav class="main-nav overlay clearfix">
	<a class="blog-logo" href="index.html"><p style = "font-family: Tahoma">Blogly</p></a>
	<ul id="menu">
		<li class="nav-home nav-current" role="presentation"><a href="{% url 'blog:index' %}">Home</a></li>
		<li class="nav-2nd" role="presentation"><a href="{% url 'blog:write' %}">write</a></li>
		<li class="nav-author-page" role="presentation"><a href="{% url 'blog:author' %}">Author Page</a></li>
		<span class="socialheader">
		<a href="#"><span class='symbol'>circletwitterbird</span></a>
		<a href="#"><span class='symbol'>circlefacebook</span></a>
		<a href="#"><span class='symbol'>circlegoogleplus</span></a>
		<a href="mailto:wowthemesnet@gmail.com"><span class='symbol'>circleemail</span></a>
		</span>
	</ul>
	</nav>
	<header class="main-header " style="background-image: url({% block back-img %}{% endblock back-img %})">
	<div class="vertical">
		<div class="main-header-content inner">
			<h1 class="page-title">{% block titdes %}{% endblock titdes %}</h1>
			<div class="entry-title-divider">
				<span></span><span></span><span></span>
			</div>
			<!-- put django powered blog on home page etc but on post pages put author name-->
			<h2 class="page-description">{% block pagedes %}{% endblock pagedes %}</h2>
		</div>
	</div>
	<a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
	</header>
	<main id="content" class="content" role="main">
	<div class="wraps">
		<img src="{% static 'blog/assets/img/shadow.png' %}" class="wrapshadow">
		<div class="grid">
	{% block body %}
{% endblock %}

<footer class="site-footer clearfix">
	<a href="#top" id="back-to-top" class="back-top"></a>
	<div class="text-center">
		<a href="index.html">Nectaria Template</a> &copy; 2016<br/>
		Free HTML Template by <a href="https://wowthemes.net">WowThemes.net</a>
	</div>
	</footer>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{% static 'blog/assets/js/masonry.min.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/assets/js/jquery.fitvids.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/assets/js/index.js' %}"></script>
<script>
        $(".comment-reply-btn").click(function(event){
            event.preventDefault();
            if ($("#comment-reply").is(':hidden')) {
     $("#comment-reply").show();}
else  {
     $("#comment-reply").hide();}
        })

    </script>
</body>
</html>