{% extends 'blog/base.html' %}
{% load static %}
{% block back-img %}'{% static 'blog/assets/img/intro.jpg' %}'{% endblock back-img %}
 {% block titdes %}Home{% endblock titdes %}
 {% block title %}Home{% endblock title %}
 {% block pagedes %}A django powered community blog{% endblock pagedes %}
{% block body%}
	
			{% for blog in object_list %}
			<div class="grid-item">
				<article class="post">
				<div class="wrapgriditem">
					<header class="post-header">
					<h2 class="post-title"><a href="{% url 'blog:post' blog.id %}">{{ blog.title }}</a></h2>
					</header>
					<img src='{{ blog.post_pic.url }}' />
					<section class="post-excerpt">
					<p>
						{{ blog.slug | linebreaks }} <a class="btn btn-primary" href="{% url 'blog:post' blog.id %}">Read More</a>
					</p>
					</section>
					<footer class="post-meta">
					<img class="author-thumb" src="author profile pic" alt="None" nopin="nopin"/>
					<a href="{% url 'blog:author' %}">Admin</a>
					<time class="post-date" datetime="2016-12-18">{{ blog.posted  }}</time>
					</footer>
				</div>
				</article>
			</div>
			{% endfor %}
	</div>
	</main>
	{% endblock %}
	