{% extends 'blog/base.html' %}
{% block titdes %}-{{ blog.title }}{% endblock titdes %}
{% block page %}{{ blog.title }}{% endblock page %}
{% block body %}

 <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{ blog.title }}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">Admin</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>{{ blog.posted }}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{ blog.post_pic.url }}" alt="" style="width:800px;height:400px;">

        <hr>

        <!-- Post Content -->
        <p style = "width:1000; margin-left: 100px; margin-right: 100px;" class="lead">{{ blog.body | linebreaks }}</p>

       
          <h5 class="card-header">Leave a Comment:</h5>
          <form method="POST">
            {{ comment_form.as_p }}
            {% csrf_token %}
          <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        {% for comment in comments %}
        <!-- Single Comment -->
        <div class="media mb-4">
          <div class="media-body">
            <h4 class="mt-0">{{ comment.name }}</h4>
            <h6>{{ comment.email }}</h6></br>
            {{ comment.body| linebreaks }}</br></br>
          </div>
        </div>
        {% endfor %}

          </div>
        </div>

      </div>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

{% endblock %}